.film {
	display: inline-block;
	width: 250px;
	height: 300px;
	margin: 15px;
}

.film h5 {
	text-align: center;
}

.film img {
	height: 200px;
	display: block;
	width: auto;
	margin: auto;
}

table, td, th { 
	border: 1px solid gray;
}

#intro {
	font-family: "Times New Roman", Times, serif;
}
#intro h1 {
	text-align: center;
}

#comparison h4 {
	text-align: center;
}

#comparison article p {
	font-family: "Times New Roman", Times, serif;
}

a:link {
	color: #000080;
}

a:visited {
	color: #800080;
}

:link:hover {
	font-weight: bold;

}
