.film {
	display: inline-block;
	width: 250px;
	height: 300px;	
}

.film img {
	height: 200px;
	width: auto;
	margin: auto;
}

/*.film h5 {
	text-align: center;
}
*/
table, td, th { 
	border: 1px solid gray 
}