body {
	background-image: url("../images/backgrounds/06-white-cardboard.png");
}

.film {
	display: inline-block;
	width: 500px;
	height: 300px;
	margin: 15px;
	background-color: #EAEAE1;
	border-radius: 4px;
}

.film h5 {
	text-align: center;
}

.film img {
	border: solid red 1px;
	max-height: 300px;
	display: inline-block;
	width: auto;
	max-width: 240px;
	margin: auto;
}

.film p {
	display: inline-block;
	width: 190px;
	border: solid black 1px;
}

table, td, th { 
	border: 1px solid gray;
}

#intro {
	font-family: "Times New Roman", Times, serif;
}

#intro h1 {
	text-align: center;
}

#intro ul {
	width: auto;
}

#intro ul li {
	border: solid black 2px;
	display: inline-block;
	background-color: #EAEAE1;
	padding: 3px;
	font-weight: bold;
}

#comparison h4 {
	text-align: center;
}

#comparison article p {
	font-family: "Times New Roman", Times, serif;
	padding: 5px;
	margin: 5px;
}

a:link {
	color: #000080;
}

a:visited {
	color: #800080;
}

:link:hover {
	font-weight: bold;

}

@media screen and (max-width: 500px) {

	#intro ul {
		width: 200px;
	}

	#intro ul li {
		display: block;
		text-align: center;
	}

}
